/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */

body{
	font-family: serif;
	background-color: #FFFFCC
}


  .gwt-Tree
, .gwt-TreeItem
, .gwt-TreeItem-selected
, .gwt-Label
, .gwt-Button
{
	font-family: serif;
}



.gwt-Tree {
	background-color: #FFFFCC;
}

	
.decider-TreePanel{
	width:400px;
	
}

